# Logs
logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# python virtual environment/compiled files
venv/
*.pyc

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
manifest
*.spec

# Intellij/PyCharm config
.idea/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# PyBuilder
target/

# Mac files
*.DS_Store

database
vcap-local.json
database/config/global.reg
database/config/instance.cfg
database/config/.shared-data/db_activated
database/config/.shared-data/setup_complete
database/config/db2fenc1/.bash_logout
database/config/db2fenc1/.bash_profile
database/config/db2fenc1/.bashrc
database/config/db2fenc1/.kshrc
database/config/db2fenc1/.mkshrc
database/config/db2inst1/.bash_logout
database/config/db2inst1/.bash_profile
database/config/db2inst1/.bashrc
database/config/db2inst1/.kshrc
database/config/db2inst1/.mkshrc
database/config/db2inst1/.profile
database/config/db2inst1/.config/menus/applications-merged/IBM_DB2.menu
database/config/db2inst1/.ibm/db2/desktop/db2inst1.dat
database/config/db2inst1/.ibm/db2/desktop/env
database/config/db2inst1/.local/share/applications/IBM_DB2Command Line Processor Plus.desktop
database/config/db2inst1/.local/share/applications/IBM_DB2Command Line Processor.desktop
database/config/db2inst1/.local/share/applications/IBM_DB2First Steps.desktop
database/config/db2inst1/.local/share/desktop-directories/IBM_DB2.directory
database/config/db2inst1/.local/share/icons/clpplus.xpm
database/config/db2inst1/.local/share/icons/db2.xpm
database/config/db2inst1/.local/share/icons/db2folder.xpm
database/config/db2inst1/.local/share/icons/db2fs.xpm
database/config/db2inst1/sqllib/.32
database/config/db2inst1/sqllib/.64
database/config/db2inst1/sqllib/.db2fmd.libdb2gcf.0a3af49e932c.lock
database/config/db2inst1/sqllib/.fm.0a3af49e932c.reg.lock
database/config/db2inst1/sqllib/.ftok
database/config/db2inst1/sqllib/.insttype
database/config/db2inst1/sqllib/.instuse
database/config/db2inst1/sqllib/adsm
database/config/db2inst1/sqllib/bin
database/config/db2inst1/sqllib/bnd
database/config/db2inst1/sqllib/conv
database/config/db2inst1/sqllib/db2cshrc
database/config/db2inst1/sqllib/db2nodes.cfg
database/config/db2inst1/sqllib/db2nodes.cfg.orig
database/config/db2inst1/sqllib/db2profile
database/config/db2inst1/sqllib/db2systm
database/config/db2inst1/sqllib/doc
database/config/db2inst1/sqllib/federation
database/config/db2inst1/sqllib/fm.0a3af49e932c.reg
database/config/db2inst1/sqllib/gse
database/config/db2inst1/sqllib/gskit
database/config/db2inst1/sqllib/include
database/config/db2inst1/sqllib/infopop
database/config/db2inst1/sqllib/java
database/config/db2inst1/sqllib/json
database/config/db2inst1/sqllib/lib
database/config/db2inst1/sqllib/lib32
database/config/db2inst1/sqllib/lib64
database/config/db2inst1/sqllib/map
database/config/db2inst1/sqllib/misc
database/config/db2inst1/sqllib/msg
database/config/db2inst1/sqllib/nodes.reg
database/config/db2inst1/sqllib/pd
database/config/db2inst1/sqllib/profile.env
database/config/db2inst1/sqllib/python
database/config/db2inst1/sqllib/R
database/config/db2inst1/sqllib/Readme
database/config/db2inst1/sqllib/samples
database/config/db2inst1/sqllib/tools
database/config/db2inst1/sqllib/usercshrc
database/config/db2inst1/sqllib/userprofile
database/config/db2inst1/sqllib/acs/.keep.acs
database/config/db2inst1/sqllib/adm/.fenced
database/config/db2inst1/sqllib/adm/cielock
database/config/db2inst1/sqllib/adm/db2audit
database/config/db2inst1/sqllib/adm/db2cacpy
database/config/db2inst1/sqllib/adm/db2cap
database/config/db2inst1/sqllib/adm/db2chparm
database/config/db2inst1/sqllib/adm/db2credman
database/config/db2inst1/sqllib/adm/db2dart
database/config/db2inst1/sqllib/adm/db2dasstml
database/config/db2inst1/sqllib/adm/db2fmp
database/config/db2inst1/sqllib/adm/db2fmp32
database/config/db2inst1/sqllib/adm/db2fmpr
database/config/db2inst1/sqllib/adm/db2fmpr32
database/config/db2inst1/sqllib/adm/db2fmpterm
database/config/db2inst1/sqllib/adm/db2genp
database/config/db2inst1/sqllib/adm/db2gov
database/config/db2inst1/sqllib/adm/db2govd
database/config/db2inst1/sqllib/adm/db2govlg
database/config/db2inst1/sqllib/adm/db2havend
database/config/db2inst1/sqllib/adm/db2iclean
database/config/db2inst1/sqllib/adm/db2ida
database/config/db2inst1/sqllib/adm/db2inidb
database/config/db2inst1/sqllib/adm/db2licd
database/config/db2inst1/sqllib/adm/db2licm
database/config/db2inst1/sqllib/adm/db2linkspeed
database/config/db2inst1/sqllib/adm/db2path
database/config/db2inst1/sqllib/adm/db2pd
database/config/db2inst1/sqllib/adm/db2pdcfg
database/config/db2inst1/sqllib/adm/db2rapp
database/config/db2inst1/sqllib/adm/db2rappl
database/config/db2inst1/sqllib/adm/db2rem
database/config/db2inst1/sqllib/adm/db2remot
database/config/db2inst1/sqllib/adm/db2rfpen
database/config/db2inst1/sqllib/adm/db2rstar
database/config/db2inst1/sqllib/adm/db2rstop
database/config/db2inst1/sqllib/adm/db2set
database/config/db2inst1/sqllib/adm/db2star2
database/config/db2inst1/sqllib/adm/db2start
database/config/db2inst1/sqllib/adm/db2stop
database/config/db2inst1/sqllib/adm/db2stop2
database/config/db2inst1/sqllib/adm/db2stst
database/config/db2inst1/sqllib/adm/db2sysc
database/config/db2inst1/sqllib/adm/db2syscr
database/config/db2inst1/sqllib/adm/db2trc
database/config/db2inst1/sqllib/adm/fencedid
database/config/db2inst1/sqllib/adm/ITLMready.properties
database/config/db2inst1/sqllib/adm/runpy.sh
database/config/db2inst1/sqllib/adm/runr.sh
database/config/db2inst1/sqllib/backup/db2systm.old
database/config/db2inst1/sqllib/backup/db2systm.old.220425
database/config/db2inst1/sqllib/backup/db2systm.old.220425.0
database/config/db2inst1/sqllib/backup/db2systm.old.220425.1
database/config/db2inst1/sqllib/backup/db2systm.old.220425.2
database/config/db2inst1/sqllib/backup/db2systm.old.220425.3
database/config/db2inst1/sqllib/backup/db2systm.old.220425.4
database/config/db2inst1/sqllib/backup/dbmcfg.lst
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425.0
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425.1
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425.2
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425.3
database/config/db2inst1/sqllib/backup/dbmcfg.lst.220425.4
database/config/db2inst1/sqllib/cfg/biors.xml
database/config/db2inst1/sqllib/cfg/bldlevel
database/config/db2inst1/sqllib/cfg/ctlib.xml
database/config/db2inst1/sqllib/cfg/db2dj.ini
database/config/db2inst1/sqllib/cfg/db2ese.lvl
database/config/db2inst1/sqllib/cfg/db2fodc.profile
database/config/db2inst1/sqllib/cfg/DefHealthRules.reg
database/config/db2inst1/sqllib/cfg/DigiCertGlobalRootCA.arm
database/config/db2inst1/sqllib/cfg/DJUpdateIniInput.dtd
database/config/db2inst1/sqllib/cfg/DJUpdateIniOutput.dtd
database/config/db2inst1/sqllib/cfg/drda.xml
database/config/db2inst1/sqllib/cfg/federated_support.lvl
database/config/db2inst1/sqllib/cfg/flatfile.xml
database/config/db2inst1/sqllib/cfg/HealthRulesV82.reg
database/config/db2inst1/sqllib/cfg/IBMLDAPSecurity.ini.sample
database/config/db2inst1/sqllib/cfg/informix.xml
database/config/db2inst1/sqllib/cfg/jdbc.xml
database/config/db2inst1/sqllib/cfg/mq
database/config/db2inst1/sqllib/cfg/mssql3.xml
database/config/db2inst1/sqllib/cfg/net8.xml
database/config/db2inst1/sqllib/cfg/odbc.xml
database/config/db2inst1/sqllib/cfg/odbcinst.ini
database/config/db2inst1/sqllib/cfg/odbcinst.ini.bak
database/config/db2inst1/sqllib/cfg/script.xml
database/config/db2inst1/sqllib/cfg/teradata.xml
database/config/db2inst1/sqllib/cfg/wrapper_discovery.dtd
database/config/db2inst1/sqllib/cfg/wrapper.dtd
database/config/db2inst1/sqllib/cfg/ws.xml
database/config/db2inst1/sqllib/cfg/xml.xml
database/config/db2inst1/sqllib/cfgcache/conlic.bin
database/config/db2inst1/sqllib/ctrl/.0a3af49e932c.0
database/config/db2inst1/sqllib/ctrl/.5d2df678e76d.0
database/config/db2inst1/sqllib/ctrl/.7a346141f03d.0
database/config/db2inst1/sqllib/ctrl/.db2pgrp.000
database/config/db2inst1/sqllib/ctrl/.fencedID
database/config/db2inst1/sqllib/ctrl/00000000020012AC.dft
database/config/db2inst1/sqllib/ctrl/00000000020014AC.dft
database/config/db2inst1/sqllib/ctrl/00000000020015AC.dft
database/config/db2inst1/sqllib/ctrl/db2stop.0a3af49e932c.20220425213207.P11846.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.0a3af49e932c.20220425213640.P15078.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.5d2df678e76d.20220425213913.P204.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.5d2df678e76d.20220425214046.P13627.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.6e4444c2cd93.20220425215013.P203.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.6e4444c2cd93.20220425215111.P166.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.6e4444c2cd93.20220425215243.P13600.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.6e4444c2cd93.20220425215607.P165.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.7a346141f03d.20220425214433.P204.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.7a346141f03d.20220425214628.P166.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.7a346141f03d.20220425214802.P13596.errlog
database/config/db2inst1/sqllib/ctrl/db2stop.7d341c5164c5.20220425213734.P204.errlog
database/config/db2inst1/sqllib/ctrl/db2strst.lck
database/config/db2inst1/sqllib/ctrl/db2stst.0000
database/config/db2inst1/sqllib/ctrl/offlineadd.000
database/config/db2inst1/sqllib/ctrl/online.add
database/config/db2inst1/sqllib/ctrlha/.db2.000.0a3af49e932c.pgrp
database/config/db2inst1/sqllib/ctrlha/.db2.000.5d2df678e76d.pgrp
database/config/db2inst1/sqllib/ctrlha/.db2.000.7a346141f03d.pgrp
database/config/db2inst1/sqllib/ctrlhamirror/.db2.000.0a3af49e932c.pgrp.mirror
database/config/db2inst1/sqllib/ctrlhamirror/.db2.000.5d2df678e76d.pgrp.mirror
database/config/db2inst1/sqllib/ctrlhamirror/.db2.000.7a346141f03d.pgrp.mirror
database/config/db2inst1/sqllib/dasfcn/db2ccfn
database/config/db2inst1/sqllib/dasfcn/db2dasdbfn
database/config/db2inst1/sqllib/dasfcn/db2dasfn
database/config/db2inst1/sqllib/dasfcn/db2isdas
database/config/db2inst1/sqllib/dasfcn/db2KnownDscvSrv
database/config/db2inst1/sqllib/dasfcn/db2licsrv
database/config/db2inst1/sqllib/dasfcn/db2mdfile
database/config/db2inst1/sqllib/dasfcn/db2schedapis
database/config/db2inst1/sqllib/db2dump/DIAG0000/db2inst1.nfy
database/config/db2inst1/sqllib/db2tss/ddl
database/config/db2inst1/sqllib/db2tss/lib
database/config/db2inst1/sqllib/db2tss/plugins
database/config/db2inst1/sqllib/db2tss/resource
database/config/db2inst1/sqllib/db2tss/config/build_info.properties
database/config/db2inst1/sqllib/db2tss/config/configuration.xml
database/config/db2inst1/sqllib/db2tss/config/constructors.xml
database/config/db2inst1/sqllib/db2tss/config/constructors.xsd
database/config/db2inst1/sqllib/db2tss/config/ecmts_config_logging.properties
database/config/db2inst1/sqllib/db2tss/config/ecmts_logging.properties
database/config/db2inst1/sqllib/db2tss/config/mimetypes.xml
database/config/db2inst1/sqllib/db2tss/config/defaults/binary_recognizer_config.xml
database/config/db2inst1/sqllib/db2tss/config/defaults/default_configuration.xml
database/config/db2inst1/sqllib/db2tss/config/defaults/parser_config.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/af-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/af-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ar-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ar-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ca-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ca-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/cs-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/cs-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/da-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/da-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/de-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/de-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/el-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/el-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/en-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/en-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/es-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/es-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/fi-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/fi-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/fr-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/fr-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/he-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/he-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/it-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/it-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ja-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ja-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ko-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ko-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nb-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nb-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nl-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nl-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nn-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/nn-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/pl-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/pl-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/pt-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/pt-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ru-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/ru-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/stopwordsJFrost.xsd
database/config/db2inst1/sqllib/db2tss/config/dictionaries/sv-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/sv-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/tr-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/tr-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/dictionaries/zh-Stw.dic
database/config/db2inst1/sqllib/db2tss/config/dictionaries/zh-Stw.xml
database/config/db2inst1/sqllib/db2tss/config/releaseinfo/release.properties
database/config/db2inst1/sqllib/db2tss/config/samples/parser_config.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-common-countries.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-financialservices-brokerage.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-financialservices-retailbanking.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-hr.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-commercialpandc.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-common.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-health.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-personalpandc.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-retail-apparel.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-software.xml
database/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-telecom-wirelessphoneservices.xml
database/config/db2inst1/sqllib/function/db2json
database/config/db2inst1/sqllib/function/db2psmds
database/config/db2inst1/sqllib/function/db2rtsc
database/config/db2inst1/sqllib/function/fpeevm
database/config/db2inst1/sqllib/function/libdb2u.a
database/config/db2inst1/sqllib/function/tblpd
database/config/db2inst1/sqllib/function/unfenced/asnqmon
database/config/db2inst1/sqllib/function/unfenced/db2gsead
database/config/db2inst1/sqllib/hmonCache/db2inst1/migr
database/config/db2inst1/sqllib/hmonCache/db2inst1/0/ossipcres/.ftok
database/config/db2inst1/sqllib/security/db2aud
database/config/db2inst1/sqllib/security/db2audit.cfg
database/config/db2inst1/sqllib/security/db2chkau
database/config/db2inst1/sqllib/security/db2chpw
database/config/db2inst1/sqllib/security/db2ckpw
database/config/db2inst1/sqllib/security/db2flacc
database/config/db2inst1/sqllib/security32/plugin/IBM
database/config/db2inst1/sqllib/security64/plugin/IBM
database/config/db2inst1/sqllib/spmlog/SPMLOG.LCF
database/config/db2inst1/sqllib/tmp/DB2VEND.STDIN.0.1.1650922347605840
database/config/db2inst1/sqllib/tmp/DB2VEND.STDIN.0.1.1650922865958780
database/config/db2inst1/sqllib/tmp/DB2VEND.STDIN.0.1.1650923302943610
database/config/db2inst1/sqllib/tmp/DB2VEND.STDOUT.0.1.1650922347605840
database/config/db2inst1/sqllib/tmp/DB2VEND.STDOUT.0.1.1650922865958780
database/config/db2inst1/sqllib/tmp/DB2VEND.STDOUT.0.1.1650923302943610
database/config/db2inst1/sqllib/uif/lic_comp_NODE0000.dt
